@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100;300&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

p{ font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
}


.header-nav{
    background-color: black;
    width: 100%;
    padding: 0;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.header-logo img {
    padding-left: 15px;
}
.header-nav ul {
    display: flex;
  }
  
  .header-nav ul li {
    padding: 15px;
  }
  
  .header-nav ul li a {
    padding: 10px;
  }
  
  .header-nav ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .header-nav ul.nav-menu {
    flex: 1;
    margin-left: 20px;  
  }

  

  #icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 0px;
    font-size: 20px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
  hr {
    margin: 10px 0;
  }


a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

  
  ul {
    list-style: none;
  }


nav a:hover{
    background-color: white;
    color: black;
    padding: 20px;
}

.box-titles{
    background-color: black;
    padding: 10px;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}

.container-card{
    max-height: 544px;
}

.sports-div{
    background-color: #004aad;
    padding: 10px;
    border-radius: 10px;
}
.contenedor-deportes{
    background-color: white;
    max-width: 100vw;
    padding-left: 7%;
    padding-right: 7%;
    padding: 10px; 
    margin: 20px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-deportes  ul {
    display: flex;
  }

  .contenedor-deportes  ul li {
    padding: 10px;
  }
  
  .contenedor-deportes ul li a {
    padding: 10px;
    height: 150px;
  }

.section-deportes{
    padding-right: 7%;
    padding-left: 7%;
}

.footer-nav{
    background-color: black;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px
}

.title-footer{
    color: white;
    padding: 10px;
}

.sponsors1, .sponsors2 {
    width: 100%;
    height: 175px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.sponsor{
    width: 150px;
    padding: 10px;
}

.p-footer{
    color: white;
    padding: 2px;
}

.menu-footer{
    flex: 1;
    margin-left: 20px;
  }

  .menu-footer ul li {
    padding: 7px;
  }
  
  .menu-footer ul li a {
    padding: 7px;
  }
  
  .menu-footer ul li a:hover {
    border-bottom: 2px solid #fff;
  }
  

/* rugby*/

p  {
    padding: 2px;
    margin: 5px;
}

.deportes-titles{
    color: white;
    background-color: #004aad;
    width: 100%;
    padding: 5px
}

.rugby, .hockey, .futbol , .tenis , .nautica  {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.historia{
    padding-left:  40px;
    padding-right: 40px;
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align:left;
    align-items: center;
    
}

.el-club-div1{
    padding: 20px;
}

.el-club-div2{
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
    text-align:left;
    align-items: center;
}

#a-contacto{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* Responsive*/

@media screen and (max-width: 1220px){

  .header-content,
  .container-content,
  .container-footer footer{
      max-width: 1200px;
      padding: 0px;
  }
}

@media screen and (max-width: 1000px){

  .container-content{
      width: 100%;
      flex-direction: column;
  }

  article{
      box-shadow: 0 0 0 0;
  }


}

#container-aside {
    flex-wrap: wrap;
}

@media screen and (max-width: 862px){

.contenedor-deportes, .contenedor-deportes-2{
    display: flex;
    flex-direction: column;
}



  body{
      overflow-x: hidden;
  }

  .move-container-all{
      transform: translateX(300px);
  }

  .header-btns{
      width: 0px;
      height: 100vh;
      position: fixed;
      top: 80px;
      left: 0;
      background: rgba(0, 0, 0, 0.837);
      overflow: hidden;
      transform: translateX(-350px);
      box-shadow: 10px 0 20px -25px black;
      transition: all 300ms cubic-bezier(1,0,0,1);
  }


  .show-lateral {
      width: 300px;
      transform: translateX(0px);
  }

  .header-btns ul{
      flex-direction: column;
  }

  .header-btns nav ul li{
      max-width: 200px;
      height: 50px;
      justify-content: flex-start;
  }

  


  .header-btns nav ul li a{
      margin-top: 40px;
      color: #858585;
  }

  .header-btns nav ul li a i{
      width: 20px;
      display: inline-block;
      margin-right: 10px;
  }

  #icon-menu{
      display: flex;
  }

  .nav-menu a:after{
      bottom: 0;
      width: 0;
  }

}

.cliente-box h2 {
  font-size: 30px; 
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  color: #004aad; 
  -webkit-text-stroke: 1px #004aad;]
}

.cliente-comment {
  background-color: #f4f4f4; 
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
  flex: 1;
  text-align: center;
}

.cliente-comment h3 {
  font-weight: bold;
  margin-top: 0;
}

.cliente-box p {
  font-size: 24px; 
  margin: 10px 0;
  text-align: center;
}

.form-map label, .form-map input, .form-map textarea, .form-map select {
  font-size: 20px; 
}

.form-map .forms {
  padding: 30px;
}


.form-map .motivo {
  font-size: 30px; 
  padding: 20px;
}

